# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db

# Editor-specific directories
.vscode/
.idea/

# Mac specific files
*.swp

# npm package lock files (if not necessary)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports (if using testing tools like Jest)
coverage/

# Build directories (if using build tools)
dist/
build/
